


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 button { outline: none;
 border:none;
 }


 .App {
     text-align: center;


 }
 #search{
     margin: 40px auto;
     width: 56%;
     min-height: 40px;
     border-radius: 10px;
     font-size: 20px;
     box-shadow: 1px 2px 7px -3px #1f2226;
 }


 .gallery {
      width: 80%;
      display: flex;
      justify-content: normal;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
      background-color: lightslategray;
 }

 .card {position: relative;
     margin: 10px 1.5%;
     width: 22%;
     min-height: 230px;
     text-align: center;
     background-color: #FFFFFF;
     border-radius: 10px;
 }

 .remove-product {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: lightgreen;
     position: absolute;
     top: 0;
     right: 0;
 }


#modal-add-product{

    height: 40px;
    width: 40px;
    border-radius: 50%;
    color:green;
    background-color: ivory;
    position: absolute;
    top: 3%;
    right: 20px;
    font-size: 24px;
    box-shadow: 1px 2px 7px -3px #1f2226;
}









