


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 button { outline: none;
 border:none;
 cursor: pointer;
 }


 .App {
     text-align: center;
     width: 90%;
     margin: 0 auto;
     box-shadow: 0 2px 32px 5px rgba(156,156,156,0.9);
     min-height: 100vh;
 }

 #search{
     margin: 40px 10%  40px -10%;
     width: 56%;
     min-height: 45px;
     border-radius: 10px;
     font-size: 20px;

     outline: none;
     border: 3px solid rgba(122,250,68,0.5);
     padding: 5px 15px;
 }


 .gallery {
      width: 100%;
      display: flex;
      justify-content: normal;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
      background-color: lightslategray;
 }

 .card {position: relative;
     margin: 10px 2.662%;
     width: 28%;
     min-height: 280px !important;
     text-align: center;
     background-color: #FFFFFF;
     border-radius: 10px;
     overflow: hidden;

 }

 .card img {
     width: 100%;
     min-height: 190px;
     transition: all 0.6s;
 }


 .remove-product {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: lightgreen;
     position: absolute;
     top: 0;
     right: 0;
 }


.to-top{
    border-radius: 5px;
    padding: 2% 4%;
    background-color: #3fef0b;
    color:white;
    font-weight: 800;
    position: absolute;
    bottom: 10px;
    left:10px;
}




@media only screen and (max-width: 992px) {
    .card {position: relative;
        margin: 10px 4%;
        width: 42%;
        min-height: 230px;
        text-align: center;
        background-color: #FFFFFF;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 576px) {
    .card {position: relative;
        margin: 10px auto;

        width: 80%;
        min-height: 230px;
        text-align: center;
        background-color: #FFFFFF;
        border-radius: 10px;
    }
    #search{
        margin: 30px auto;
        width: 81%;
        min-height: 40px;
        border-radius: 10px;
        font-size: 18px;
        box-shadow: 1px 2px 7px -3px #1f2226;
    }



}








