


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 button { outline: none }

 #search{
     margin: 40px 200px;
     width: 30%;
     min-height: 40px;
     border-radius: 10px;
     font-size: 20px;
     box-shadow: 1px 2px 7px -3px #1f2226;
 }


 .gallery {
      width: 80%;
      display: flex;
      justify-content: normal;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
      background-color: lightslategray;
 }

 .card {
     margin: 10px 1.5%;
     width: 22%;
     min-height: 230px;
     text-align: center;
     background-color: #FFFFFF;
     border-radius: 10px;
 }










